#body{
    display:grid;
    grid-template-columns: 1/2 1/2;
    grid-template-rows: 1/2 1/2;
}

#canvas {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}

#avgHappiness{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

#ui{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

#partyindex{

}

th {
    scope: "col";
}
